@model NodeWrapper
@using Grit.Unno

@{
    Unit unit = ViewBag.Unit as Unit;
    Node node = ViewBag.Node as Node;
}

@section css {
    <link href="~/Content/grit.unno.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt>企业名称</dt>
            <dd>
                @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_CompanyName-0"))
            </dd>
            <dt>注册年限</dt>
            <dd>
                @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_RegOfYear-0"))
            </dd>
            <dt>财务状况</dt>
            <dd>
                @{
                    var financialReport = node.Find("CompanyInfo-0_FinancialReport-0");
                }
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>
                                年份
                            </th>
                            <th>
                                毛利润(万)
                            </th>
                            <th>
                                净利润(万)
                            </th>
                            <th>
                                全年
                            </th>
                            <th>
                                分类
                            </th>
                            <th>
                                备注
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (financialReport != null && financialReport.Children != null)
                        {
                            for (int i = 0; i < financialReport.Children.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_FinancialReport-" + i + "_Year-0"))
                                    </td>
                                    <td>
                                        @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_FinancialReport-" + i + "_GrossProfit-0"))
                                    </td>
                                    <td>
                                        @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_FinancialReport-" + i + "_NetProfit-0"))
                                    </td>
                                    <td>
                                        @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_FinancialReport-" + i + "_Full-0"))
                                    </td>
                                    <td>
                                        @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_FinancialReport-" + i + "_Category-0"))
                                    </td>
                                    <td>
                                        @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_FinancialReport-" + i + "_Remark-0"))
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </dd>
            <dt>房产信息</dt>
            <dd>
                @{
                    var house = node.Find("CompanyInfo-0_House-0");
                }
                <div class="row">
                    <div class="col-md-12">
                        @if (house != null && house.Children != null)
                        {
                            for (int i = 0; i < house.Children.Count(); i++)
                            {
                                <dl class="dl-horizontal">
                                    <dt>建筑面积</dt>
                                    <dd>
                                        @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_House-" + i + "_Size-0"))
                                    </dd>
                                    <dt>地址</dt>
                                    <dd>
                                        @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_House-" + i + "_Address-0"))
                                    </dd>
                                    <dt>参考</dt>
                                    <dd>
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        参考网站
                                                    </th>
                                                    <th>
                                                        参考价格
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                Node reference;
                                house.Children[i].TryGetValue("Reference", out reference);
                                                }
                                                @if (reference != null && reference.Children != null)
                                                {
                                                    for (int j = 0; j < reference.Children.Count(); j++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_House-" + i + "_Reference-" + j + "_Site-0"))
                                                            </td>
                                                            <td>
                                                                @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_House-" + i + "_Reference-" + j + "_Price-0"))
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                    </dd>
                                </dl>
                            }
                        }
                    </div>
                </div>
            </dd>
            <dt>车辆信息</dt>
            <dd>
                @{
                    var car = node.Find("CompanyInfo-0_Car-0");
                }
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>
                                购买日期
                            </th>
                            <th>
                                型号
                            </th>
                            <th>
                                价格
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (car != null && car.Children != null)
                        {
                            for (int i = 0; i < car.Children.Count(); i++)
                            {
                                <tr>
                                    <td>
                                        @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_Car-" + i + "_BuyDate-0", format: UIControlFormat.Date))
                                    </td>
                                    <td>
                                        @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_Car-" + i + "_Model-0"))
                                    </td>
                                    <td>
                                        @Html.Partial("Display", new UIDisplayParams("CompanyInfo-0_Car-" + i + "_Price-0"))
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
</div>
